.main{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .grad{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: #1F212840;
    }
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    h1{
        font-family: var(--semi);
        font-weight: 600;
        font-size: 96px;
        line-height: 96px;
        letter-spacing: 0%;
        text-align: center;
        color: #ECECEE;
        position: relative;
        z-index: 2;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background: #1F2128;
    width: 236px;
    z-index: 10;
    &__title{
        padding: 24px 32px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-weight: 350;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #ECECEE;
        }
        button.open{
            svg{
                rotate: 180deg;
            }
        }
        button{
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #373A48;
            svg{
                width: 14px;
                height: 8px;
                transition: all 0.5s ease;
            }
        }
    }
    &__list.open{
        max-height: 2000px;
    }
    &__list{
        transition: all 0.5s ease;
        max-height: 0;
        overflow: hidden;
        ul{
            display: flex;
            flex-direction: column;
            li{
                a:hover{
                    background: #373A48;
                    span{
                        color:#ECECEE;
                        img{
                            opacity: 1;
                        }
                    }
                    p{
                        color: #ECECEE;
                    }
                }
                a.active{
                    span{
                        color:#ECECEE;
                    }
                    p{
                        color: #ECECEE;
                    }
                }
                a{
                    padding: 24px 32px;
                    background: transparent;
                    transition: all 0.5s ease;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    border-bottom: 1px solid var(--unnamed, #373A48);
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-weight: 350;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: #ECECEE99;
                        transition: all 0.5s ease;
                        img{
                            width: 18px;
                            height: 10px;
                            transition: all 0.5s ease;
                            opacity: 0;
                        }
                    }
                    p{
                        font-weight: 350;
                        font-size: 20px;
                        line-height: 20px;
                        letter-spacing: 0%;
                        color: #ECECEE99;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}