@font-face {
    font-family: 'Book';
    src: url(../fonts/Cygre-Book.woff);
    font-weight: 350;
}
@font-face {
    font-family: 'SemiBold';
    src: url(../fonts/Cygre-SemiBold.woff);
    font-weight: 600;
}
@font-face {
    font-family: 'Medium';
    src: url(../fonts/Cygre-Medium.woff);
}
@font-face {
    font-family: 'Regular';
    src: url(../fonts/Cygre-Regular.woff);
}
@import './reset';
:root{
    --book: 'Book';
    --semi: 'SemiBold';
    --med: 'Medium';
    --regular: 'Regular';
}
body{
    max-width: 1920px;
    background: rgba(236, 236, 238, 1);
    font-family: var(--book);
}

html{
    scroll-behavior: smooth;
}
.desk{
    display: flex !important;
}
.mob{
    display: none !important;
}