<section class="article">
    <div id="title1" class="title">
        <div class="soft">
            <span>ПРОЛОГ</span>
            <div class="group">
                <p>#Хэштег</p>
                <p>#Хэштег</p>
            </div>
        </div>
        <h2>
            «Первыми людьми на земле были русские <br>
            и точка»
        </h2>
    </div>
    <div class="article__main">
        <p class="paragraph">
            «Новая хронология» -  не единственный пример попытки русских переписать историю. На этот раз основным
            тезисом стала теория славянского протоязыка. И даже не только языка. А в целом происхождения человечества.
        </p>
        <div class="article__main-people">
            <div class="people">
                <div class="people-item">
                    <img src="../images/dist/people/1.png" alt="">
                    <span>
                        Валерий Чудинов
                    </span>
                    <a href="">Фото: Кадр видео / kp.ru</a>
                </div>
                <div class="people-item">
                    <img src="../images/dist/people/2.png" alt="">
                    <span>Михаил Задорнов</span>
                    <a href="">Фото: Кадр из фильма / 1tv.com</a>
                </div>
            </div>
            <div class="article__main-people-info">
                <a href="https://rg.ru/2008/06/19/chudinov.html">Профессор Валерий Чудинов</a> и его друг сатирик <a href="https://www.youtube.com/watch?v=3c82EVMdMf8">Михаил Задорнов</a> (известный русский комик, о его влиянии на
                целое поколение можно написать целую книгу) считали, что первые люди на земле были русскими. Это
                утверждение подвергается критике за отсутствие научных доказательств: оно не подтверждается ни
                лингвистическими, ни археологическими данными. Также критикуют утверждение о том, что Москва является
                столицей кривичей и что этруски писали на белорусском языке. <br><br>
                Научное сообщество считает, что спекуляции Чудинова и Задорнова о происхождении народов и языков могут
                привести к распространению националистических мифов и искажению истории. К тому же, идеи происхождения
                всех европейских языков <a href="http://www.secret-r.net/index.php/arkhiv-publikatsij/9-2009/mir-drevnikh-slavyan.html">противоречат принципам ЮНЕСКО</a>.
            </div>
        </div>
        <p class="paragraph">
            «Новая хронология» -  не единственный пример попытки русских переписать историю. На этот раз основным
            тезисом стала теория славянского протоязыка. И даже не только языка. А в целом происхождения человечества.
        </p>
        <div class="article__main-quote">
            <div class="article__main-quote-main">
                <span class="quote">
                    «Первыми людьми на земле были русские и точка»
                </span>
                <div class="article__main-quote-main-people">
                    <div class="info">
                        <span>Валерий Чудинов</span>
                        <p>Источник: Ввод текста</p>
                    </div>
                    <img src="../images/dist/people/1.png" alt="">
                </div>
            </div>
            <p class="article__main-quote-soft">
                «Новая хронология» -  не единственный пример попытки русских переписать историю. На этот раз основным тезисом стала теория славянского протоязыка. И даже не только языка. А в целом происхождения человечества. Научное сообщество считает, что спекуляции Чудинова  и Задорнова о происхождении 
            </p>
        </div>
        <p class="paragraph">
            Научное сообщество считает, что спекуляции Чудинова и Задорнова о происхождении народов   и языков могут привести к распространению националистических мифов и искажению истории.    К тому же, идеи происхождения всех европейских языков <a href="http://www.secret-r.net/index.php/arkhiv-publikatsij/9-2009/mir-drevnikh-slavyan.html">противоречат принципам ЮНЕСКО</a>.
        </p>
        <div class="article__main-smallimg">
            <div class="smallimg__main">
                <img src="../images/dist/small.webp" alt="">
                <span>Церковь</span>
                <a href="">Фото: Библиотека / kp.ru</a>
            </div>
            <p class="smallimg__soft">
                <a href="https://rg.ru/2008/06/19/chudinov.html">Профессор Валерий Чудинов</a> и его друг сатирик <a href="https://www.youtube.com/watch?v=3c82EVMdMf8">Михаил Задорнов</a> (известный русский комик, о его влиянии на целое поколение можно написать целую книгу) считали, что первые люди на земле были русскими. Это утверждение подвергается критике за отсутствие научных доказательств: оно не подтверждается ни лингвистическими, ни археологическими данными. Также критикуют утверждение о том, что Москва является столицей кривичей и что этруски писали на белорусском языке.  Научное сообщество считает, что спекуляции Чудинова и Задорнова о происхождении народов и языков могут. «Новая хронология» -  не единственный пример попытки русских переписать историю. На этот раз основным тезисом стала теория славянского...
            </p>
        </div>
        <p class="paragraph">
            <a href="https://rg.ru/2008/06/19/chudinov.html">Профессор Валерий Чудинов</a> и его друг сатирик <a href="https://www.youtube.com/watch?v=3c82EVMdMf8">Михаил Задорнов</a> (известный русский комик, о его влиянии на целое поколение можно написать целую книгу) считали, что первые люди на земле были русскими. Это утверждение подвергается критике за отсутствие научных доказательств: оно не подтверждается ни лингвистическими, ни археологическими данными. Также критикуют утверждение о том, что Москва является столицей кривичей и что этруски писали на белорусском языке.
        </p>
        <div class="article__main-bigimg">
            <img src="../images/dist/big.webp" alt="">
            <span>Церковь</span>
            <a href="">Фото: Библиотека / kp.ru</a>
        </div>
        <p class="paragraph">
            Научное сообщество считает, что спекуляции Чудинова и Задорнова о происхождении народов   и языков могут привести к распространению националистических мифов и искажению истории.    К тому же, идеи происхождения всех европейских языков <a href="http://www.secret-r.net/index.php/arkhiv-publikatsij/9-2009/mir-drevnikh-slavyan.html">противоречат принципам ЮНЕСКО</a>.
        </p>
    </div>
</section>