<section class="article">
    <div class="article__main">
        <span class="span">
            Откуда и как появились бутерброды?
        </span>
        <p class="paragraph">
            Бутерброд – поистине полезное и вкусное изобретение человечества. Еще в Средние века вместо тарелок люди
            использовали большие куски хлеба, на которые клали рыбу, овощи, мясо и другую еду. <br><br>
            Когда съедали все эти продукты, оставшийся хлеб отдавали собакам, выбрасывали, а если семья бедная – то так
            же съедали. Прародители горячих бутербродов также появились довольно давно, когда человек заметил, что
            расплавленный сыр обладает более интересным вкусом, и стал намазывать его на кусочки хлеба.
        </p>
        <div class="article__main-smallimg">
            <div class="smallimg__main">
                <img src="../images/dist/small2.webp" alt="">
                <span>Вариация бутерброда</span>
                <a href="">Источник: Yandex</a>
            </div>
            <p class="smallimg__soft">
                Само слова «бутерброд» имеет немецкие корни и образовано от сочетания двух слов: butter – масло и bread
                – хлеб. Ведь самый простой классический бутерброд состоит из хлеба и масла. <br><br>
                Он же является основой огромного разнообразия бутербродов во многих странах мира. По одной из версий
                классический бутерброд придумал еще Коперник – известный лекарь и ученый. Именно он посоветовал мазать
                хлеб маслом во времена эпидемий, что давало возможность лучше разглядеть грязь на нем и, при
                необходимости, просто счистить ее.
            </p>
        </div>

        <p class="paragraph">
            Многие страны стремятся присвоить себе заслугу изобретения бутерброда. Евреи утверждают, что еще в
            древности, принося жертвы, они обмазывали свой хлеб «мацу» маслом и медом, накладывая один кусок на другой. <br><br>
            Англичане считают, что основатель бутербродов – Джон Сендвич, первый придумавший класть мясо между слоями
            хлеба. Датчане и шведы также претендуют на первенство в изобретении этого блюда. <br><br>
            Все бутерброды, в зависимости от внешнего вида, делятся на открытые и закрытые, тартинки и канапе. Канапе –
            маленькие бутерброды из поджаренного или подсушенного хлеба. Для подобных бутербродов характерна красивая
            форма и оформление. Так как обычно они подаются на праздничный стол. <br><br>
            Тартинки схожи с канапе, но готовят их с горячей начинкой. Например, с жареной ветчиной, котлетами или
            колбасой с яичницей.
        </p>
        <button class="btn__back">
            Назад к главе
            <span>
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7L7 13" stroke="#ECECEE"/>
                </svg>                    
            </span>
        </button>
        <div class="dope">
            <h3>
                Примечания
            </h3>
            <ul>
                <li>
                    <a href="">Статья: «Откуда и как появились бутерброды?» Дзен. Дата обращения: 2025 год.</a>
                </li>
            </ul>
        </div>
    </div>
</section>