<header class="header">
    <div class="header__title">
        <span>Меню</span>
        <button class="open__menu">
            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L13 1" stroke="#ECECEE"/>
            </svg>                
        </button>
    </div>
    <nav class="header__list">
        <ul>
            <li>
                <a class="active" href="">
                    <span>
                        Пролог
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        «Первыми людьми на земле были русские»
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 1
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 2
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 3
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 4
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 5
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 6
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 7
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        Глава 8
                        <img src="../images/dist/eye.webp" alt="">
                    </span>
                    <p>
                        Текст заголовка
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</header>